@import url('https://fonts.cdnfonts.com/css/versatile-azalea');


.header {
    font-family: sans-serif;
}

.headerLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    font-size: 1.5em;
    background-color: hsl(120, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.log-prompt {
    font-size: 1.5em;
    background-color: hsl(2, 100%, 52%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}



.nav-bar ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    margin: auto;
}

.nav-bar ul li {
    margin: auto;
    font-family: Arial, sans-selif;
    font-size: 1.5em;
}

.nav-bar ul li a {
    text-decoration: none;
}


.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    max-height: 500px;
    display: inline-block;
}

.card .card-image {
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: Arial, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 20%);
}

.student {
    font-family: Arial, sans-serif;
    border: 1px solid hsl(0, 0%, 20%);

}



footer {
    text-align: center;
}